body {
    font-family: Georgia;
    color: white;
    margin: 0;
    padding: 0;
}

main {
    display: flex;
}

header,
footer {
    background-color: #824555;
    text-align: center;
    padding: 20px;
}

#block_lewy,
#block_srodkowy {
    width: 30%;
    height: 350px;
}

#block_lewy {
    background-color: #A26475;
}

#block_srodkowy {
    background-color: #824555;
}

#block_prawy {
    background-color: #A26470;
    width: 40%;
    height: 350px;
    overflow-y: scroll;
}

img {
    float: left;
    width: 50px;
}

table,
p,
ul {
    margin: 10px;
}

ul {
    padding-top: 20px;
}

td,
th {
    border: 3px solid #824555;
    padding: 5px;
}
